.pointing-buttons-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
    & > span {
        border: 1px solid black;
        width: 5rem;
        height: 4rem;
        margin: 5px;
        text-align: center;
        border-radius: 5%;
        line-height: 4rem;
        cursor: pointer;
    }
    & > span:hover {
        background-color: rgb(155, 155, 155);
    }

}

.vote-buttons-title {
    font-weight: bold;
}

.selected {
    background-color: rgb(155, 155, 155);
}